In [2]:
import pandas as pd
import numpy as np

In [16]:
data_test = pd.read_csv("test.csv").fillna(0)
data_test = data_test[["HomePlanet","CryoSleep","Cabin","Destination","Age","VIP"]]
data_test

     HomePlanet CryoSleep     Cabin    Destination   Age    VIP
0         Earth      True     G/3/S    TRAPPIST-1e  27.0  False
1         Earth     False     F/4/S    TRAPPIST-1e  19.0  False
2        Europa      True     C/0/S    55 Cancri e  31.0  False
3        Europa     False     C/1/S    TRAPPIST-1e  38.0  False
4         Earth     False     F/5/S    TRAPPIST-1e  20.0  False
...         ...       ...       ...            ...   ...    ...
4272      Earth      True  G/1496/S    TRAPPIST-1e  34.0  False
4273      Earth     False         0    TRAPPIST-1e  42.0  False
4274       Mars      True   D/296/P    55 Cancri e   0.0  False
4275     Europa     False   D/297/P              0   0.0  False
4276      Earth      True  G/1498/S  PSO J318.5-22  43.0  False

[4277 rows x 6 columns]

In [20]:

def transform(data):
    # PassengerId*, HomePlanet(Earth,Europa, Mars), CryoSleep*, Cabin(P or S)*,
    # Destination(TRAPPIST-1e,55 Cancri e, PSO J318.5-22), Age*, VIP*
    data.Age = data.Age / 79

    data.CryoSleep = (data.CryoSleep.astype(float) == 1.0).astype(int)
    data.VIP = (data.VIP.astype(float) == 1.0).astype(int)
    data.Cabin = [int("P" in i) for i in data.Cabin.astype(str)]

    home_planet_cat = pd.get_dummies(data.HomePlanet).astype(int)[["Earth", "Europa", "Mars"]]
    destination_cat = pd.get_dummies(data.Destination).astype(int)[["TRAPPIST-1e", "55 Cancri e", "PSO J318.5-22"]]
    return pd.concat([data,home_planet_cat,destination_cat],axis=1,ignore_index=False)

In [21]:
transform(data_test.copy())

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,Earth,Europa,Mars,TRAPPIST-1e,55 Cancri e,PSO J318.5-22
0,Earth,1,0,TRAPPIST-1e,0.341772,0,1,0,0,1,0,0
1,Earth,0,0,TRAPPIST-1e,0.240506,0,1,0,0,1,0,0
2,Europa,1,0,55 Cancri e,0.392405,0,0,1,0,0,1,0
3,Europa,0,0,TRAPPIST-1e,0.481013,0,0,1,0,1,0,0
4,Earth,0,0,TRAPPIST-1e,0.253165,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,Earth,1,0,TRAPPIST-1e,0.430380,0,1,0,0,1,0,0
4273,Earth,0,0,TRAPPIST-1e,0.531646,0,1,0,0,1,0,0
4274,Mars,1,1,55 Cancri e,0.000000,0,0,0,1,0,1,0
4275,Europa,0,1,0,0.000000,0,0,1,0,0,0,0
4276,Earth,1,0,PSO J318.5-22,0.544304,0,1,0,0,0,0,1